h1{
    text-align: center;
    background-color: rgb(127, 205, 238);
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}