*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    background-color: rgb(127, 205, 238);
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: right;
}

header{
    background-color: rgb(85, 140, 163);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
}

