*{
    box-sizing: border-box;
    margin: 0;
    padding: 1 rem;
}


@font-face{
    font-family: "Italic";
    src: url('assets/fonts/variable_italic.ttf');
    font-weight: normal;
    font-style: normal;
}

a{
    text-decoration: none;
    color: rgb(30, 30, 94);
}

h1{
    text-align: center;
    background-color: rgb(127, 205, 238);
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    background-color: rgb(158, 215, 240);
    color:rgb(30, 30, 94);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
}

body{
    font-family: "Italic", sans-serif;
    background-color: rgb(225, 240, 247);
    padding: 1rem;
}

.header-text h1{
    margin-bottom: 1.5rem;
    text-align: center;
}
.header-text h2{
    margin-bottom: 0.5rem;
    text-align: center;
}

.nav-menu{
    width: fit-content;
}
    

.nav-menu ul{
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}
.nav-menu a{
    display: inline-block;
    padding: 0.5rem;
    background-color: rgb(240, 209, 236);
    color: rgb(30, 30, 94);
    text-decoration: none;
    border-radius: 0.5rem;
   font-weight: bold;
}
.nav-menu a:hover{
    background-color: rgb(94, 30, 86);   
}
main{
    max-width: 900px;
    margin: 0 auto;
}         
#inicio{
    background-color: rgb(183, 158, 240);
    padding: 1.5rem;
    margin: 1rem 0;
    text-align: center;
    border-radius: 0.5rem;
}
#inicio h2{
    margin-bottom: 1rem;
}
#inicio h3{
    margin-bottom: 1rem;
}
#inicio p{
    margin-bottom: 1rem;
}
#inicio img{
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}
#inicio a {
    background-color: rgb(240, 209, 236);
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
h2{
    font-size: 1.5rem;
}
.servicios{
    max-width: 900px;
    padding: 1.5rem;
    margin: 0 auto;
}
.servicios h2{
    text-align: center;
    margin-bottom: 1rem;
}
.servicios ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.servicios li{
    display: block;
    flex-direction: column;

}

.nosotros h2{
    text-align: center;
    margin-bottom: 1rem;
}
.nosotros p{
    text-align: center;
    margin-bottom: 1rem;
}

.contacto{
    max-width: 900px;
    padding: 1.5rem;
    margin: 0 auto;
}

.contacto h2{
    text-align: center;
    margin: 0 auto;
}

.im{
    padding: 50px;
    text-align: center;
}

.fo p {
    text-align: center;
}